// Project-level build settings - all configurations
SDKROOT = macosx10.6
MACOSX_DEPLOYMENT_TARGET = 10.5

ARCHS = i386 x86_64 ppc
ARCHS[sdk=macosx10.6*] = i386 x86_64 ppc
ARCHS[sdk=macosx10.5*] = i386 x86_64 ppc ppc64
ARCHS[sdk=macosx10.4*] = i386 ppc

MACOSX_DEPLOYMENT_TARGET = 10.6
ONLY_ACTIVE_ARCH = NO

GCC_TREAT_WARNINGS_AS_ERRORS = YES
RUN_CLANG_STATIC_ANALYZER = YES

// Work around flags forbidden for C/C++ compilation.
SHARED_C_CPP_FLAGS = -fstack-protector -fstack-protector-all -Wall -Wendif-labels -Winvalid-pch -Wformat -Wformat-security -Wformat-y2k -Wmissing-format-attribute -Wwrite-strings -Wstrict-aliasing=2 -Wpacked -Wmissing-field-initializers -Wextra -Wpointer-arith -Wdisabled-optimization

OTHER_CFLAGS = $(SHARED_C_CPP_FLAGS) -Wdiv-by-zero -Wnested-externs -Wold-style-definition 

OTHER_CPLUSPLUSFLAGS = $(SHARED_C_CPP_FLAGS) -Wabi -Wctor-dtor-privacy -Wstrict-null-sentinel -Wsign-promo

ZERO_LINK = NO
PREBINDING = NO
HEADER_SEARCH_PATHS = /usr/local/include /opt/local/include